body {
    background: #fafafa;
    font: normal 100%/1.3 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

section {
    margin: 50px auto 0 auto;
    width: 480px;
    font-weight: 200;
    background-color: #efefef;
    padding: 1em;
    border: solid 1px #eaeaea;
    box-sizing: border-box;
}

section h1 {
    line-height: 1;
    letter-spacing: -1px;
}

fieldset {
    margin: 1em 0;
    padding: 0.25em;
    border: solid 1px #ddd;
}

p {

}