<fieldset data-js="workout-id" data-id="{id}">
    <p>
        <label for="workout-name">Name:</label>
        <input type="text" id="workout-name" value="{name}"/>
    </p>
    <p>
        <label for="default-recovery-time">Default recovery time:</label>
        <input type="text" id="default-recovery-time" value="{recoveryTime}"/>
    </p>
    <p>
        <label for="rest">Default rest between sets:</label>
        <input type="range" id="default-rest" min="0" max="60" step="10" value="{rest}"/>
        
        <br/>

        <input type="radio" name="default-rest-units" id="default-rest-seconds" value="seconds"{@eq key="{restUnits}" value="seconds"} checked="checked"{/eq}/>
        <label for="default-rest-seconds">Seconds</label>

        <input type="radio" name="default-rest-units" id="default-rest-minutes" value="minutes"{@eq key="{restUnits}" value="minutes"} checked="checked"{/eq}/>
        <label for="default-rest-minutes">Minutes</label>
    </p>
</fieldset>

<ul>
{#exercises}
    {>wrk-exercises /}
{/exercises}
</ul>

<p>
    <a href="#" data-js="exercise-new">Add Exercise</a>
</p>

<fieldset>
    <button data-js="workout-add-ready">Add</button>
    <button data-js="workout-update-ready">Update</button>
    <button data-js="workout-delete">Delete</button>
    <button data-js="workout-start">Start</button>
</fieldset>